<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--同步数据来源类型(英文,区分)：SqlServer 海洋(HY)、Oracle 小城管(XCG)、AD 海沧(HC)、Webservice 集美(JM)-->
  <add key="DataSourceType" value="GGAQ"/>
  <!--启动组织机构与用户同步比较与Broker(Async,Broker)-->
  <add key="StartType" value="Broker"/>
  <!--Job数据持久化目标类型：SqlServer、Oracle-->
  <add key="JobTargetType" value="SqlServer"/>
  <add key="JobDataSource" value="oracledatasource"/>
  <add key="JobDataProvider" value="OracleODPManaged-1211-40"/>
  <add key="JobDataSourceConnStr" value="Data Source=10.23.119.23/testdb;User ID=umx_base;Password=xmzy321;"/>
  <!--Job执行时间间隔，单位分钟-->
  <add key="JobIntervalTime" value="3"/>
  <!--Job目录配置-->
  <add key="JobMenu" value="ggaq"/>
</appSettings>
