<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DataSynchronous-20170419044533.mdf;Initial Catalog=aspnet-DataSynchronous-20170419044533;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="SqlServerConnection" connectionString="Data Source=192.168.146.129;User ID=vit;Password=Vit2016;Integrated Security=False" providerName="System.Data.SqlClient" />
  <!--<add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=szlx_base;Password=xmzy321;Data Source=192.168.0.15/Szlxdb" />-->
</connectionStrings>
