<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--同步数据来源类型(英文,区分)：SqlServer 海洋(HY)、Oracle 小城管(XCG)、AD 海沧(HC)、Webservice 集美(JM)-->
  <add key="DataSourceType" value="XCG"/>
  <!--启动组织机构与用户同步比较与Broker(Async,Broker)-->
  <add key="StartType" value="Async,Broker"/>
  <!--Job数据持久化目标类型：SqlServer、Oracle-->
  <add key="JobTargetType" value="SqlServer"/>
  <add key="JobDataSource" value="provider"/>
  <add key="JobDataSourceConnStr" value="Data Source=27.154.228.202:1533/x110db;User ID=sj_base;Password=xmzy321;"/>
  <!--Job执行时间间隔，单位分钟-->
  <add key="JobIntervalTime" value="720"/>
 <!--Job目录配置  shiju/xcg,shiju/dcg,shiju/zwdb,shiju/common,shiju/sm,shiju/huli,shiju/jm,shiju/hc,shiju/files-->
  <add key="JobMenu" value="shiju/xcg,shiju/dcg,shiju/zwdb,shiju/common,shiju/sm,shiju/huli,shiju/jm,shiju/hc,shiju/files,shiju/sjwx,shiju/meiya,shiju/memo,shiju/UserPword"/>
  <!--同步目标库-->
  <add key="TargetConnStr" value="Data Source=10.2.11.57:1522/orcl;User ID=sj_base;Password=xmzy321;" />
  <!--AD配置-->
  <add key="ADDomain" value="haicang.gov.in\" />
  <add key="ADPath" value="10.2.2.107" />
  <add key="UserId" value="zhiyu" />
  <add key="Pwd" value="FdYh7uBM" />
  <add key="RootOU" value="海沧区党政机关" />
  <add key="ConnStr" value="Data Source=192.168.1.230:1522/hcdb;User ID=szlx_base;Password=xmzy321;" />
  <add key="ConnType" value="Oracle.ManagedDataAccess.Client.OracleConnection,Oracle.ManagedDataAccess" />
  <add key="DB_ADAPTERS" value="Configurations\Adapters\*.xml" />
  <!--Sqlserver来源-->
  <add key="SqlserverSource" value="Data Source=192.168.1.230;Database=test;User ID=xmzy;Password=xmzy321;Integrated Security=False"/>
  <!--Oracle来源-->
  <add key="OracleSource" value="Data Source=192.168.10.7/zfjdb;User ID=xmzy;Password=xmzy321;"/>
  <!--add key="OracleSource" value="Data Source=10.2.11.21/xazfj;User ID=umiv;Password=xmzy321;"/--><!--XA-->
  <!--add key="OracleSource" value="Data Source=10.2.11.26/umivtongan;User ID=umiv;Password=xmzy321;"/--><!--TA-->
  <!--add key="OracleSource" value="Data Source=10.2.11.57:1522/orcl;User ID=SJ_schedule;Password=xmzy321;"/--><!--HC-->
</appSettings>
